params {
    base_dir     = "$HOME/Desktop/SC_BCR_aCD40_2026-03-10/Cellranger"
    igblast_dir  = "$HOME/share/igblast"
    germline_dir = "$HOME/share/germlines/imgt/human/vdj"
    outdir       = "$HOME/nextflow/igblast_pipeline/IgBlast_results"
}

process {
    executor = 'local'
    cpus     = 4
    memory   = '4 GB'
}
